<div>
    <input type="checkbox" value="hoge" data-bind="checked: items" /> : hoge
</div>
<div>
    <input type="checkbox" value="fuga" data-bind="checked: items" /> : fuga
</div>
<div>
    <input type="checkbox" value="piyo" data-bind="checked: items" /> : piyo
</div>
